@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100&display=swap');
body {
  margin: 0px;
  background-color: #2a2a2a;
  overflow-y: auto;
}

#meter {
  width: 500px !important;
  height: 30px;
  background: none;
  border: 0ch;
  border-bottom: 5px solid blue;
  outline: none;
  cursor: pointer;
}

.error {
  color: white;
  font-size: 24px;
  font-family: 'Martian Mono', monospace;
}

#perfect {
  font-size: 5pc;
  color:white;
  text-align: center;
  align-items: center;
  margin: 0px;
  position: relative;
  bottom: 140px;
  transition: all;
  padding-bottom: 100px !important;

}
.form-wrapper{
  width: 90%;
  height: 80%;
  margin: auto;
  padding-top: 1px;
}

.form-jumbo{
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
  background-color: rgba(0,0,0,0.2);;
  width: 600px;
  height: 300px;
  display: flex;
  align-items: center;
  box-shadow: -3px -3px 9px #aaa9a9a2,
               3px  3px 7px  rgba(147,149,151,0.671);
}
.form-ele {
  align-items: center;
  text-align: center;

}
input{
  color: azure;
  text-align: center;
}
input::placeholder{
  text-align: center;
}

.password-strength-meter {
  height: 50px;
  width: 150px;
  background-color: None;
  border-radius: 3px;
  margin: .5rem 0;
  margin: 20px auto;
}


@media only screen and (max-width: 600px) {
  #meter {
    width: 90% !important;
  }
}