body {
  margin: 0px;
  background: #282A3A;
  overflow-y: auto;
  background-image: url(./image/img1.avif);
  background-repeat: no-repeat;
  background-size: 100% 800px;
}

#meter {
  width: 500px !important;
  height: 30px;
  background: none;
  border: 0ch;
  border-bottom: 5px solid blue;
  outline: none;
  cursor: pointer;
}

.error {
  color: white;
  font-size: 30px;
}

#perfect {
  font-size: 5pc;
  color:white;
  text-align: center;
  align-items: center;
  margin: 0px auto;
  transition: all;
  padding-bottom: 100px !important;

}

.form-ele {
  align-items: center;
  text-align: center;
  margin-top: 90px;
}
input{
  color: azure;
}

.password-strength-meter {
  height: 50px;
  width: 150px;
  background-color: None;
  border-radius: 3px;
  margin: .5rem 0;
  margin: 20px auto;
}


@media only screen and (max-width: 600px) {
  #meter {
    width: 90% !important;
  }
}